<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Key_Vault_Uri" value="https://cargoshared-test-kv.vault.azure.net/"/>
		<add key="CCC_Secret_Username" value="CCCUsername"/>
		<add key="CCC_Secret_Password" value="CCCPassword"/>
		<add key="CGODG_Secret_Username" value="CGODGUsername"/>
		<add key="CGODG_Secret_Password" value="CGODGPassword"/>				
	</appSettings>
</configuration>